<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx2e3fbfdecabd3905</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ0x6145ABD</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent102027415</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqq</string>
		<string>mqqopensdkminiapp://</string>
		<string>mqqthirdappgroup://</string>
		<string>tencentapi.qzone.reqContent://</string>
		<string>tencentapi.qq.reqContent://</string>
		<string>mqzone://</string>
		<string>mqqopensdklaunchminiapp://</string>
		<string>mqqopensdkfriend://</string>
		<string>mqqopensdkavatar://</string>
		<string>mqqgamebindinggroup://</string>
		<string>mqqopensdkapiV2://</string>
		<string>mqqopensdknopasteboard://</string>
		<string>tim://</string>
		<string>mqqapi://</string>
		<string>mqq://</string>
		<string>weixinurlparamsapi</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
